
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
    <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <meta charset="UTF-8"/>
    <title>用户列表</title>
</head>

<body>

<div class="contentDiv" style="padding: 20px 60px;">

    <h5> 用户列表 </h5>
    <form th:action="@{/user}" method="get" class="pull-right">
        <input type="date" th:name="startTime" th:value="${#dates.format(startTime, 'yyyy-MM-dd')}"/>
        <input type="date" th:name="endTime" th:value="${#dates.format(endTime, 'yyyy-MM-dd')}"/>
        <button class="btn btn-primary" type="submit">查询用户</button>
    </form>
    <table class="table table-hover table-condensed">
        <thead>
        <tr>
            <th>姓名</th>
            <th>生日</th>
            <th>状态</th>
            <th>注册时间</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.name}"></td>
            <td th:text="${user.birthday}"></td>
            <td th:text="${user.state}"></td>
            <td th:text="${user.create_date}"></td>
        </tr>
        </tbody>
    </table>

    <div class="pull-right d-flex flex-row mb-5">
        <form th:action="@{/user}" method="get" style="display: inline">
            <input type="date" th:name="startTime" th:value="${#dates.format(startTime, 'yyyy-MM-dd')}" class="hidden"/>
            <input type="date" th:name="endTime" th:value="${#dates.format(endTime, 'yyyy-MM-dd')}" class="hidden"/>
            <input type="hidden" th:value=1 th:name="pageNum">
            <input type="hidden" th:value="${users.pageSize}" th:name="pageSize">
            <button class="btn" type="submit" th:disabled="${users.pageNum} == 1"><i class="glyphicon glyphicon-step-backward"></i></button>
        </form>
        <form th:action="@{/user}" method="get" style="display: inline">
            <input type="date" th:name="startTime" th:value="${#dates.format(startTime, 'yyyy-MM-dd')}" class="hidden"/>
            <input type="date" th:name="endTime" th:value="${#dates.format(endTime, 'yyyy-MM-dd')}" class="hidden"/>
            <input type="hidden" th:value="${users.pageNum}-1" th:name="pageNum">
            <input type="hidden" th:value="${users.pageSize}" th:name="pageSize">
            <button class="btn" type="submit" th:disabled="${users.pageNum} == 1"><i class="glyphicon glyphicon-chevron-left"></i></button>
        </form>
        <form th:action="@{/user}" method="get" style="display: inline">
            <input type="date" th:name="startTime" th:value="${#dates.format(startTime, 'yyyy-MM-dd')}" class="hidden"/>
            <input type="date" th:name="endTime" th:value="${#dates.format(endTime, 'yyyy-MM-dd')}" class="hidden"/>
            <input type="hidden" th:value="${users.pageNum}+1" th:name="pageNum">
            <input type="hidden" th:value="${users.pageSize}" th:name="pageSize">
            <button class="btn" type="submit" th:disabled="${users.pageNum} == ${users.pages}"><i class="glyphicon glyphicon-chevron-right"></i></button>
        </form>
        <form th:action="@{/user}" method="get" style="display: inline">
            <input type="date" th:name="startTime" th:value="${#dates.format(startTime, 'yyyy-MM-dd')}" class="hidden"/>
            <input type="date" th:name="endTime" th:value="${#dates.format(endTime, 'yyyy-MM-dd')}" class="hidden"/>
            <input type="hidden" th:value="${users.pages}" th:name="pageNum">
            <input type="hidden" th:value="${users.pageSize}" th:name="pageSize">
            <button class="btn" type="submit" th:disabled="${users.pageNum} == ${users.pages}"><i class="glyphicon glyphicon-step-forward"></i></button>
        </form>
        <span th:text="${users.startRow} + '-' + ${users.endRow} + '/' + ${users.total}"></span>
        <span th:text="'当前页码:' + ${users.pageNum}"></span>
        <span th:text="'总页码:' + ${users.pages}"></span>
    </div>

</div>

</body>
</html>