<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yooxinz.mapper.UserMapper" >
    <resultMap id="userMap"  type="com.yooxinz.dto.User">
        <id column="id" jdbcType="DECIMAL" property="id"></id>
        <result column="name" jdbcType="VARCHAR" property="name" />
    </resultMap>

    <select id="queryByTime" resultType="com.yooxinz.dto.User">
        select * from user
        <where>
            <if test="startTime != null">
                AND create_date &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                AND create_date &lt;= #{endTime}
            </if>
        </where>
    </select>
</mapper>